<!DOCTYPE html>
<html lang="en" class="no-js no-touch" data-specs-ref="fractal-preview">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/app.css">
  <title>Preview</title>

  <script>
    var dataLayer = window["dataLayer"] || [];
    if (!window.wsf) { window.wsf = { AnalyticsVariables: {} }; }
    window.wsf.AnalyticsVariables = {"brand":"OAP","language":"en","country":"inter","siteTypeLevel":"testing","dynamic":{"currency":"EUR"}};
  </script>
  <script>
    if (!window.wsf) { window.wsf = { AnalyticsVariables: {} }; }
    window.wsf.AnalyticsVariables.pageCategory = 'product detail page';
    delete window.wsf.AnalyticsVariables.dynamic;
    dataLayer.push(window.wsf.AnalyticsVariables);
  </script>

  <!-- OneTrust Cookies Consent Notice (Production Standard, uat-cm-mst-oap-eu-ce.e-loreal.com, en-GB) start -->
  <!-- <script src="https://cookiesdemo0storage.blob.core.windows.net/consent/fed292e8-02b7-4484-8768-26147f934f78.js" type="text/javascript" charset="UTF-8"></script>
  <script type="text/javascript">
    function OptanonWrapper() { }
  </script> -->
  <!-- OneTrust Cookies Consent Notice (Production Standard, uat-cm-mst-oap-eu-ce.e-loreal.com, en-GB) end -->

  <!-- Script call on Header for Messenger chat Widget visible on http://f1u-cm-mst-oap-eu-ce.e-loreal.com -->
  <script>
    window.fbAsyncInit = function() {
    FB.init({
    xfbml : true,
    version : 'v3.3'
    });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- Script call on Header for Messenger chat -->

</head>
<body>
  <div style="display: none;">
    <!-- generated icons sprite sheet from sprite.svg-->
  	<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol viewBox="0 0 8 13" id="arrow-back" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.638 0L0 6.5 6.638 13l.453-.44L.905 6.5 7.091.44z"/></symbol><symbol viewBox="0 0 6 11" id="arrow-icon" xmlns="http://www.w3.org/2000/svg"><path d="M.383 11L6 5.5.383 0 0 .372 5.234 5.5 0 10.628z" fill-rule="evenodd"/></symbol><symbol viewBox="0 0 19 39" id="arrow-next" xmlns="http://www.w3.org/2000/svg"><path d="M2 2l15 17.5L2 37" stroke="#FFF" stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></symbol><symbol viewBox="0 0 19 39" id="arrow-prev" xmlns="http://www.w3.org/2000/svg"><path d="M17 37L2 19.5 17 2" stroke="#FFF" stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></symbol><symbol id="arrow-search" viewBox="0 0 74 74" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style>.est0{fill:none;stroke:#9b9b9b;stroke-width:11;stroke-linecap:round}</style><g id="eArrows_Search"><path id="eLine" class="est0" d="M6.3 6.2l55.6 61.7"/><path id="eLine-Copy" class="est0" d="M6.3 6.2h49.4"/><path id="eLine_1_" class="est0" d="M6.3 6.2v49.3"/></g></symbol><symbol viewBox="0 0 18 20" id="bag" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1 7v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H1zM5 7h8V5a4 4 0 1 0-8 0v2z"/></g></symbol><symbol class="gicon gicon-menu-toggle" viewBox="0 0 100 100" id="burger" xmlns="http://www.w3.org/2000/svg"><g class="gsvg-menu-toggle"><path class="gline gline-1" d="M5 13h90v14H5z"/><path class="gline gline-2" d="M5 43h90v14H5z"/><path class="gline gline-3" d="M5 73h90v14H5z"/></g></symbol><symbol viewBox="0 0 40 40" id="carbon-footprint" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle stroke="#969696" fill="#FFF" cx="20" cy="20" r="19.5"/><path d="M10.954 16.745c1.133 0 2.056.626 2.67 1.809h3.043c-.745-2.96-3.043-4.803-5.729-4.803a5.674 5.674 0 0 0-4.19 1.776A6.09 6.09 0 0 0 5 19.873c0 1.776.55 3.264 1.634 4.465 1.099 1.244 2.653 1.94 4.272 1.911 2.767 0 4.952-1.776 5.712-4.701H13.56c-.614 1.116-1.57 1.725-2.654 1.725-1.585 0-3.01-1.472-3.01-3.383a3.213 3.213 0 0 1 .897-2.244 2.937 2.937 0 0 1 2.161-.901m12.821-2.995a6.214 6.214 0 0 0-4.427 1.762 6.111 6.111 0 0 0-1.848 4.36c0 1.781.58 3.273 1.727 4.477a6.052 6.052 0 0 0 4.531 1.9 6.193 6.193 0 0 0 4.48-1.882 6.226 6.226 0 0 0 1.761-4.443c-.028-3.398-2.798-6.145-6.224-6.173m-.017 9.513c-1.676 0-3.198-1.458-3.198-3.357a3.15 3.15 0 0 1 1.583-2.752 3.203 3.203 0 0 1 3.195 0 3.15 3.15 0 0 1 1.583 2.752c0 1.967-1.42 3.357-3.163 3.357M35 21.274c0-1.003-.787-1.69-2.083-1.69-1.264 0-2.075.833-2.084 2.16h1.473c0-.04-.008-.09-.008-.13 0-.526.242-.825.61-.825.36 0 .578.235.578.639 0 .81-.87 1.764-2.62 2.767v1.222h4.118V24.13H32.9c1.397-.874 2.1-1.925 2.1-2.856" fill="#969696" fill-rule="nonzero"/></g></symbol><symbol viewBox="0 0 28 22" id="check" xmlns="http://www.w3.org/2000/svg"><path d="M2 10.162l7.84 8.161L25.469 2" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="round"/></symbol><symbol viewBox="0 0 21 21" id="close" xmlns="http://www.w3.org/2000/svg"><path d="M13.3 10.5l6.6 6.6c.8.8.8 2 0 2.8-.8.8-2 .8-2.8 0l-6.6-6.6-6.6 6.6c-.8.8-2 .8-2.8 0-.8-.8-.8-2 0-2.8l6.6-6.6-6.6-6.6c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l6.6 6.6 6.6-6.6c.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8l-6.6 6.6z"/></symbol><symbol viewBox="0 0 16 16" id="disabled" xmlns="http://www.w3.org/2000/svg"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm5.135 3.854l-9.281 9.281a6.6 6.6 0 0 0 9.282-9.282zM8 1.4a6.6 6.6 0 0 0-5.135 10.746l9.281-9.281A6.572 6.572 0 0 0 8 1.4z" fill="#000" fill-rule="evenodd"/></symbol><symbol viewBox="0 0 60 60" id="disc" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill-rule="evenodd"/></symbol><symbol viewBox="0 0 17 18" id="edit-pencil" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M14.425 5.904l-8.486 8.485-2.828-2.828 8.485-8.486a.997.997 0 0 1 1.414 0l1.415 1.415a.997.997 0 0 1 0 1.414z" stroke="#000" stroke-width="2"/><path fill="#000" d="M.99 12.268l4.242 4.242-4.95.708zM10.182 3.075l4.242 4.243-1.414 1.414L8.767 4.49z"/></g></symbol><symbol viewBox="0 0 22 15" id="email" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M2.038 1.036h16.988a1 1 0 0 1 1 1v10.88a1 1 0 0 1-1 1H2.038a1 1 0 0 1-1-1V2.037a1 1 0 0 1 1-1z"/><path d="M1.538 1.478l8.994 7.1M10.532 8.579l8.995-7.1" stroke-linecap="round"/></g></symbol><symbol viewBox="0 0 22 15" id="email-white" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M2.038 1.036h16.988a1 1 0 0 1 1 1v10.88a1 1 0 0 1-1 1H2.038a1 1 0 0 1-1-1V2.037a1 1 0 0 1 1-1z"/><path d="M1.538 1.478l8.994 7.1M10.532 8.579l8.995-7.1" stroke-linecap="round"/></g></symbol><symbol viewBox="0 0 20 17" id="filter" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1)" fill="none" fill-rule="evenodd"><path d="M.648 2.5H17.51M.648 8.5H17.51M.648 14.5H17.51" stroke="currentColor" stroke-width="2" stroke-linecap="square"/><ellipse fill="currentColor" cx="7.5" cy="2.376" rx="2.5" ry="2.376"/><ellipse fill="currentColor" cx="3.5" cy="8.376" rx="2.5" ry="2.376"/><ellipse fill="currentColor" cx="12.5" cy="14.376" rx="2.5" ry="2.376"/></g></symbol><symbol viewBox="0 0 75 20" id="loreal-paris-logo" xmlns="http://www.w3.org/2000/svg"><defs><path id="qa" d="M0 0h75v20H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="qb" fill="#fff"><use xlink:href="#qa"/></mask><path d="M9.784 11.481h-8.27V1.833H0v10.83h9.784v-1.182zM8.122 5.664l2.038-3.831H8.52L7 5.663h1.122zm10.124 6.569c-3.037 0-5.54-2.442-5.54-5.384 0-2.94 2.385-5.498 5.658-5.498a5.494 5.494 0 0 1 5.538 5.498c0 2.942-2.62 5.384-5.656 5.384zM18.298 0c-4.39 0-7.381 3.096-7.381 6.845 0 3.947 3.305 6.731 7.381 6.731 4.076 0 7.38-2.744 7.38-6.73 0-3.75-3.03-6.846-7.38-6.846zm15.957 6.84H29.2V3.115h5.23c1.204 0 1.882.563 2.126 1.276.16.49.057 1.134-.209 1.571-.437.725-1.267.878-2.093.878zm1.296 1.296c2.479-.663 2.72-2.51 2.709-3.17-.149-1.934-1.45-3.133-3.793-3.133h-6.822v10.83h1.556V8.121h4.44l3.267 4.542h1.96s-2.35-3.057-3.317-4.527zm19.663.369l2.593-5.175 2.626 5.175h-5.219zm1.539-6.672l-5.503 10.83h1.86l1.408-2.803h6.6l1.421 2.803h1.841l-5.508-10.83h-2.12zM75 11.48h-8.27V1.833h-1.514v10.83H75v-1.182zM48.635.084h-2.803l-1.31 1.472L48.634.084zm-.15 7.612V6.498h-6.022V3.012h8.018v-1.18h-9.679v10.831h9.68v-1.182h-8.02V7.696h6.023zM43.46 19.843h.776V16.75h-.776v3.092zm-.005-3.55h.776v-.777h-.776v.777zm5.932 1.243l-1.667-.284c-.341-.06-.691-.18-.691-.548 0-.656.837-.759 1.333-.759.659 0 1.407.211 1.447.88h.74c-.032-.476-.236-1.38-2.276-1.38-1.415 0-2.01.662-2.01 1.337 0 .754.863.952 1.245 1.018l1.196.206c.959.168 1.244.313 1.244.765 0 .62-.96.729-1.53.729-.747 0-1.609-.23-1.609-1.013h-.74c0 .405.097.766.593 1.097.26.175.684.416 1.765.416 1 0 2.285-.283 2.285-1.308 0-.686-.57-1.023-1.325-1.156zm-18.082.553l1.074-1.904h.019l.99 1.904h-2.083zm.607-2.548l-2.52 4.326h.933l.7-1.26h2.69l.662 1.26h.99l-2.428-4.326h-1.027zm5.734 2h1.627c.734 0 1.232-.193 1.232-.777 0-.549-.523-.724-1.198-.724h-1.661v1.5zm3.892 2.295h-.923l-1.235-1.756c-.015-.022-.045-.034-.076-.04h.04a.1.1 0 0 0-.04 0h-1.658v1.827h-.818V15.54h2.723c1.122 0 1.796.518 1.796 1.217 0 .498-.33 1.049-1.187 1.225l1.378 1.854zM27.101 17.54h-1.627v-1.5h1.66c.675 0 1.198.174 1.198.723 0 .584-.498.777-1.231.777zm.278-2h-2.724v4.326h.819v-1.826h1.905c1.316 0 1.796-.68 1.796-1.283 0-.7-.674-1.217-1.796-1.217z" fill="#fff" mask="url(#qb)"/></g></symbol><symbol viewBox="0 0 8 8" id="open-new-window" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke="#fff" stroke-width="2" fill="none" stroke-linecap="round"><path d="M1 1.035V7h5.978M4.01 3.987l2.962-2.93M7 2.965V1H5"/></g></symbol><symbol viewBox="0 0 27 27" id="plus" xmlns="http://www.w3.org/2000/svg"><g stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M24.814 13.5H2.186M13.5 2.186v22.628"/></g></symbol><symbol viewBox="0 0 20 20" id="search" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel" fill="none" fill-rule="evenodd"><path d="M13.292 3.937a6.615 6.615 0 1 1-9.355 9.355 6.615 6.615 0 0 1 9.355-9.355zM15.29 15.388l3.93 3.93"/></g></symbol><symbol viewBox="0 0 13 18" id="trash-closed" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M2.913 16l-.818-9h8.81l-.818 9H2.913z" stroke="#000" stroke-width="2"/><path d="M1 3h11a1 1 0 0 1 1 1v1H0V4a1 1 0 0 1 1-1zM6 0h1a1 1 0 0 1 1 1v1H5V1a1 1 0 0 1 1-1z" fill="#000"/></g></symbol><symbol viewBox="0 0 14 20" id="trash-opened" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M2.913 19l-.818-9h8.81l-.818 9H2.913z" stroke="#FFF" stroke-width="2"/><g fill="#FFF"><path d="M2.058 3.56l10.625 2.846a1 1 0 0 1 .707 1.225l-.259.966L.574 5.232l.26-.965a1 1 0 0 1 1.224-.708zM7.664 1.956l.966.259a1 1 0 0 1 .707 1.224l-.259.966-2.897-.776.258-.966a1 1 0 0 1 1.225-.707z"/></g></g></symbol><symbol viewBox="0 0 40 40" id="water-footprint" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle stroke="#969696" fill="#FFF" cx="20" cy="20" r="19.5"/><path d="M20.412 7.7a.542.542 0 0 0-.838 0c-1.78 2.346-8.434 11.516-8.434 15.836.025 4.958 3.982 8.964 8.854 8.964 4.872 0 8.83-4.006 8.854-8.964 0-4.32-6.653-13.49-8.435-15.836m2.32 21.622a.774.774 0 0 1-.337.051.89.89 0 0 1-.787-.462c-.153-.396.04-.834.45-1.025 3.319-1.231 3.036-4.924 2.98-4.976a.75.75 0 0 1 .371-.695.915.915 0 0 1 .847-.052c.272.123.45.369.47.645.224 1.641-.45 5.18-3.994 6.514" fill="#969696" fill-rule="nonzero"/></g></symbol></svg>
  </div>
  <script>
    var html = document.querySelector('html')
    html.classList.remove('no-js')
    if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
      html.classList.remove('no-touch')
      html.classList.add('has-touch')
    }
  </script>

  <!-- Messenger chat integration on DOM -->
  <div id="fb-root"></div>
  <div class="fb-customerchat"
      attribution=setup_tool
      page_id="131891690157435"
      theme_color="#E32847">
  </div>

  <div id="main-container" key="main_container_key">
    {{{ yield }}}
  </div>

  <script src="/js/chunk-vendors.js"></script>
  <script src="/js/app.js"></script>

  <!-- Sprinklr API call -->
  <script id="sprinklr-embed-loader-7345-ZW1iZWQ6NWMwMDA5MjMzNWJmMjcwYjMyMWE0MWMz" type="text/javascript" src="https://gallery.sprinklr.com/clients/7345/embeds/ZW1iZWQ6NWMwMDA5MjMzNWJmMjcwYjMyMWE0MWMz/script.js" async></script>
  <!-- Sprinklr API call -->
</body>
</html>
